/**
 * This file provides styles for the edit view (?do=edit), preview
 * and section edit buttons.
 */

/* edit view
********************************************************************/

#dokuwiki__site
  .mode_edit
  .wrapper
  .page
  #dokuwiki__site
  .mode_preview
  .wrapper
  .page {
  display: block;
}

#dokuwiki__site .mode_edit .wrapper #page-content {
  max-width: 100%;
}

#dokuwiki__site .mode_preview .wrapper #page-content {
}

/*____________ toolbar ____________*/

.dokuwiki div.toolbar {
  display: block;
  margin-bottom: 0.5em;
}
#draft__status {
  color: @ini_text_alt;
  background-color: inherit;
}

/* picker popups (outside of .dokuwiki) */
div.picker {
  width: auto;
  padding: 0.5em;
  border: 1px solid @ini_border;
  background-color: @ini_background;
  color: inherit;
  border-radius: 6px;
}
/* picker for headlines */
div.picker.pk_hl {
  width: auto;
}

/* buttons inside of picker */
div.picker button.pickerbutton,
div.picker button.toolbutton {
  padding: 0.1em 0.25em;
  display: inline-block;
  min-width: 38px;
}

.dokuwiki div.toolbar {
  button.toolbutton {
    border-radius: 0;
    border-width: 4px;
    border-color: @ini_text_alt;
    padding: 0.1em 0.25em;
    display: inline-block;
    min-width: 38px;

    &:hover {
      background-color: rgba(193, 189, 180, 0.7);
    }
  }

  button.toolbutton:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  button.toolbutton:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.dokuwiki div.section_highlight {
  margin: 0;
  padding: 0;
  border-width: 0 1em;
}

.dokuwiki div.preview div.pad {
  padding: 1.556em 0 2em;
}

/*____________ edit textarea ____________*/

.dokuwiki textarea.edit {
  font-family: var(--monospace-font);
  font-size: 1em;
  width: 100%;
  margin-bottom: 0.5em;
  resize: vertical;
}

/*____________ below the textarea ____________*/

.dokuwiki div.editBar {
  margin-bottom: 0.5em;
}

/* size and wrap controls */
#size__ctl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}
#size__ctl img {
  cursor: pointer;
  height: 24px;
  padding: 4px;
}

/* edit buttons */
.dokuwiki .editBar .editButtons {
  display: flex;
  align-items: center;
}
.dokuwiki .editBar .editButtons button {
  margin-right: 0.5em;
}
.dokuwiki .editBar .editButtons #edbtn__save {
  color: @ini_text_alt;
  background-color: @ini_link;
}
.dokuwiki .editBar .editButtons button[name="do[cancel]"] {
  color: @ini_link;
  background: transparent;
}

/* summary input and minor changes checkbox */

.dokuwiki .editBar .summary label {
  vertical-align: middle;
  white-space: nowrap;
}
.dokuwiki .editBar .summary label span {
  vertical-align: middle;
}
.dokuwiki .editBar .summary input {
}
/* change background colour if summary is missing */
.dokuwiki .editBar .summary input.missing {
  color: @ini_text;
  border-color: #ffcccc;
}

/* preview
********************************************************************/

.dokuwiki div.preview {
  border: dotted @ini_border;
  border-width: 0.2em 0;
  padding: 1.4em 0;
  margin-bottom: 1.4em;
}

/* section edit buttons
********************************************************************/

.dokuwiki .secedit {
  display: none;
  float: right;
  margin-top: -1.4em;
}
.dokuwiki .secedit button {
  font-size: 87%;
  background: transparent;
  border: 0;
  color: @ini_link;
  padding: 0.5em 0;
}

/* style for section highlighting */
.dokuwiki div.section_highlight {
  margin: 0 -1em; /* negative side margin = side padding + side border */
  padding: 0 0.5em;
  border: solid @ini_background_alt;
  border-width: 0 0.5em;
}

/* draft found
********************************************************************/

#dw__editform {
  div.no {
    display: block;
    button {
      display: inline-block;
      margin-right: 0.5em;
    }
    button[name="do[show]"] {
      color: @ini_link;
      background: transparent;
    }
  }
}
