/* TODO: this file is not up to the best standards and will be fixed after an overhaul of the form code */

/**
 * This file provides styles for forms in general and specifically
 * for ?do=
 *   - login
 *   - resendpwd
 *   - register
 *   - profile
 *   - subscribe
 */

/* ---------------- forms ------------------------ */

.dokuwiki form {
  border: none;
  text-align: left;
}

.dokuwiki label.block {
  display: block;
  font-weight: bold;
}

.dokuwiki label.simple {
  display: block;
  text-align: left;
  font-weight: normal;
}

.dokuwiki label.block select,
.dokuwiki label.block input.edit,
.dokuwiki label.block input {
  margin-bottom: 1em;
}

.dokuwiki label span {
  display: block;
  padding: 0.5em 0;
}

.dokuwiki fieldset {
  border: 0;
  padding: 0;
}

/**
 * Styles for auth forms
 */

#dw__login,
#dw__resendpwd,
#dw__register {
  text-align: left;
}
#dw__login legend,
#dw__resendpwd legend,
#dw__register legend {
  display: none;
}
#dw__login br {
  display: none;
}
#dw__login label[for="remember__me"] {
  margin-bottom: 1.4em;
  display: flex;
}
#dw__login fieldset,
#dw__resendpwd fieldset,
#dw__register fieldset {
  padding-bottom: 0.7em;
}
#dw__profiledelete {
  display: block;
  margin-top: 2.8em;
}

#dw__login button {
  padding-left: 2em;
  padding-right: 2em;
}

/**
 * Styles for the subscription page
 */

#subscribe__form {
  display: block;
}

#subscribe__form fieldset {
  text-align: left;
  margin: 0.5em 0;
}

#subscribe__form label {
  display: block;
  margin: 0 0.5em 0.5em;
}

/* multiple buttons */

.dokuwiki #dw__register button {
  display: inline-block;
}

.dokuwiki #dw__register button + button {
  margin-right: 1em;
}

.dokuwiki #dw__profiledelete {
  background-color: @ini_murat_yellow;
  padding: 1em;
}

.dokuwiki label[for="dw__confirmdelete"],
.dokuwiki label[for="edit__minoredit"] {
  display: flex;
  align-items: baseline;
}
