/* Custom icons for the Mur theme
 * These are overrides to the default icons to point to our version.
 */

.dokuwiki .notetip {
  background-image: url("/lib/tpl/dokumur/images/icon-tip.png");
}

.dokuwiki .noteimportant {
  background-image: url("/lib/tpl/dokumur/images/icon-important.png");
}

.dokuwiki .notewarning {
  background-image: url("/lib/tpl/dokumur/images/icon-warning.png");
}

.dokuwiki .noteclassic {
  background-image: url("/lib/tpl/dokumur/images/icon-note.png");
}

div.notify {
	background-image: url("/lib/tpl/dokumur/images/icon-notify.png");
}

.dokuwiki li i.icon {
  display: inline-block;
  height: 24px;
  min-width: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dokuwiki li.login i.icon.login {
  background-image: url("/lib/tpl/dokumur/images/icon-login.svg");
}

.dokuwiki li.logout i.icon.logout {
  background-image: url("/lib/tpl/dokumur/images/icon-logout.svg");
}

.dokuwiki li.profile i.icon.profile {
  background-image: url("/lib/tpl/dokumur/images/icon-profile.svg");
}

.dokuwiki li.admin i.icon.admin {
  background-image: url("/lib/tpl/dokumur/images/icon-settings.svg");
}
