/**
 * This file provides styles for the image detail page (detail.php).
 */

#dokuwiki__detail {
}
#dokuwiki__detail h1 {
}

#dokuwiki__detail img {
}
#dokuwiki__detail div.img_detail {
}
#dokuwiki__detail div.img_detail h2 {
}
#dokuwiki__detail div.img_detail dl {
}
#dokuwiki__detail div.img_detail dl dt {
}
#dokuwiki__detail div.img_detail dl dd {
}

#dokuwiki__detail p.back {
}
