/**
 * This file provides styles for modal dialogues.
 */

.dokuwiki .ui-widget {
  font-size: 100%;
}

/* link wizard (opens from the link button in the edit toolbar)
********************************************************************/

#link__wiz_result {
  background-color: @ini_background;
  width: 293px;
  height: 193px;
  overflow: auto;
  border: 1px solid @ini_border;
  margin: 3px auto;
  text-align: left;
  line-height: 1;
}

#link__wiz_result div {
  padding: 3px 3px 3px 0;
}

#link__wiz_result div a {
  display: block;
  padding-left: 22px;
  min-height: 16px;
  background: transparent 3px center no-repeat;
}

#link__wiz_result div.type_u a {
  background-image: url(../../images/up.png);
}
#link__wiz_result div.type_f a {
  background-image: url(../../images/page.png);
}
#link__wiz_result div.type_d a {
  background-image: url(../../images/ns.png);
}

#link__wiz_result div.even {
  background-color: @ini_background_neu;
}

#link__wiz_result div.selected {
  background-color: @ini_background_alt;
}

#link__wiz_result span {
  display: block;
  color: @ini_text_neu;
  margin-left: 22px;
}

/* media option wizard (opens when inserting media in the media popup)
********************************************************************/

#media__popup {
  /* for backwards compatibility (not needed since Rincewind) */
  display: none;
}

#media__popup_content p {
  margin: 0 0 0.5em;
}

#media__popup_content label {
  margin-right: 0.5em;
  cursor: default;
}

#media__popup_content button {
  margin-right: 1px;
  cursor: pointer;
}
