/**
 * This file provides styles for the TOC (table of contents), the
 * sitemap (?do=index) and backlinks (?do=backlink).
 */

/* toc
********************************************************************/

/* toc container */

#dw__toc {
  padding: 0.75em 0;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#dw__toc .toggle {
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.25em 0 0.75em;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid @ini_border;
}

#dw__toc .toggle strong {
  display: none;
}

#dw__toc .toggle::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.5em solid @ini_text;
  margin-left: 0.25em;
}

#dw__toc .toggle.closed::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-bottom: 0.5em solid @ini_text;
}

#dw__toc > div {
  font-size: 0.875em;
  margin-top: 0.5em;
}

#dw__toc ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#dw__toc ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

#dw__toc a {
  color: @ini_text;
  display: block;
  padding: 0.35em 0;
}

#dw__toc a:hover,
#dw__toc a:visited {
  color: inherit;
  text-decoration: none;
}

#dw__toc ul .level1 .toc a {
  padding-left: 1.5em;
}
#dw__toc ul .level2 .toc a {
  padding-left: 3em;
}
#dw__toc ul .level3 .toc a {
  padding-left: 4.5em;
}
#dw__toc ul .level4 .toc a {
  padding-left: 6em;
}
#dw__toc ul .level5 .toc a {
  padding-left: 7.5em;
}
#dw__toc ul .level6 .toc a {
  padding-left: 9em;
}
