/**
 * This file provides the most basic styles.
 *
 * If you integrate DokuWiki into another project, you might either
 * want to integrate this file into the other project as well, or use
 * the other project's basic CSS for DokuWiki instead of this one.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */

@font-face {
  font-family: "Sean";
  src: url("fonts/Sean/Sean-Normal.woff2") format("woff2"),
    url("Sean-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sean";
  src: url("fonts/Sean/Sean-Bold.woff2") format("woff2"),
    url("Sean-Normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sean";
  src: url("fonts/Sean/Sean-Italic.woff2") format("woff2"),
    url("Sean-Normal.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sean";
  src: url("fonts/Sean/Sean-BoldItalic.woff2") format("woff2"),
    url("Sean-Normal.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-font: "Sean", "DejaVu Sans", Roboto, sans-serif;
  --title-font: "Poppins", "Sean", "DejaVu Sans", Roboto, sans-serif;
  --monospace-font: "JetBrainsMono", monospace;
  --title-font-weight: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: @ini_text;
  background: @ini_background;
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.95em;
  font-family: var(--body-font);
  line-height: 1.4;
  /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
  -webkit-text-size-adjust: 100%;
}

/*____________ headers ____________*/

caption,
figcaption,
summary,
legend {
  padding: 0;
  margin: 0 0 0.35em;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  padding: 0;
  line-height: 1.2;
}
[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] h6 {
}

h1 {
  font-size: 2em;
  margin: 0 0 0.444em;
}
h2 {
  font-size: 1.5em;
  margin: 0 0 0.666em;
}
h3 {
  font-size: 1.125em;
  margin: 0 0 0.888em;
}
h4 {
  font-size: 1em;
  margin: 0 0 1em;
}
h5 {
  font-size: 0.875em;
  margin: 0 0 1.1428em;
}
h6 {
  font-size: 0.75em;
  margin: 0 0 1.333em;
}

.dokuwiki div.page h1 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 0.444em;
}

/* bottom margin = 1 / font-size */

/*____________ basic margins and paddings ____________*/

p,
ul,
ol,
dl,
pre,
table,
hr,
blockquote,
figure,
details,
fieldset,
address {
  margin: 0 0 1.4em 0; /* bottom margin = line-height */
  padding: 0;
}

div,
video,
audio {
  margin: 0;
  padding: 0;
}

/*____________ lists ____________*/

ul,
ol {
  padding: 0 0 0 1em;
}
li,
dd {
  padding: 0;
  margin: 0;
}
dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li ul,
li ol,
li dl,
dl ul,
dl ol,
dl dl {
  margin-bottom: 0;
  padding: 0;
}
li li {
  font-size: 100%;
}

ul {
  list-style-type: disc;
}
ul li::marker {
  color: @ini_link;
}

ol {
  list-style: decimal outside;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: upper-roman;
}
ol ol ol ol {
  list-style-type: upper-alpha;
}
ol ol ol ol ol {
  list-style-type: lower-roman;
}

/*____________ tables ____________*/

table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  border: 1px solid @ini_border;
}

caption {
  caption-side: top;
  text-align: left;
}
[dir="rtl"] caption {
  text-align: right;
}

th,
td {
  padding: 0.3em 0.5em;
  margin: 0;
  vertical-align: top;
  border: 1px solid @ini_border;
}
th {
  font-weight: bold;
  background-color: @ini_background_alt;
  text-align: left;
}
[dir="rtl"] th {
  text-align: right;
}

/*____________ links ____________*/

a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: @ini_link;
}
a:link:hover,
a:visited:hover,
a:link:focus,
a:visited:focus,
a:link:active,
a:visited:active {
  text-decoration: underline;
}

/*____________ misc ____________*/

img {
  border-width: 0;
  vertical-align: middle;
  color: #666;
  background-color: transparent;
  font-style: italic;
  object-fit: cover;
}
video {
  height: auto;
}
img,
object,
embed,
iframe,
video,
audio {
  max-width: 100%;
}
button img {
  max-width: none;
}
table img {
  max-width: 50vw;
}

hr {
  border-top: solid @ini_border;
  border-bottom: solid @ini_background;
  border-width: 1px 0;
  height: 0;
  text-align: center;
  clear: both;
}

acronym,
abbr {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
  font-style: normal;
}
em acronym,
em abbr {
  font-style: italic;
}

mark {
  background-color: @ini_highlight;
  color: inherit;
}

pre,
code,
samp,
kbd {
  font-family: var(--monospace-font);
  font-size: 1em;
  background-color: @ini_text_alt;
  color: @ini_text;
  border-radius: 2px;
}
pre {
  overflow: auto;
  word-wrap: normal;
  border: 0;
  border-radius: 2px;
  padding: 1.5em 1em;
}

blockquote {
  padding: 0 0.5em;
  border: solid @ini_border;
  border-width: 0 0 0 0.25em;
}

q:before,
q:after {
  content: "";
}

sub,
sup {
  font-size: 0.8em;
  line-height: 1;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}

small {
  font-size: 0.8em;
}

wbr {
  display: inline-block; /* for IE 11 */
}

/*____________ forms ____________*/

form {
  margin: 0;
  padding: 0;
}
fieldset {
  padding: 0.7rem 1rem;
  border: 1px solid @ini_text_alt;
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  margin: 0;
  padding: 0 0.1em;
}
label {
  vertical-align: middle;
  cursor: pointer;
}

optgroup {
  font-style: italic;
  font-weight: bold;
}
option {
  font-style: normal;
  font-weight: normal;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
button,
select,
optgroup,
option,
keygen,
output,
meter,
progress {
  font-size: 1em;
  color: @ini_text;
  background-color: @ini_background;
  border-radius: @ini_radius;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: 0.5em 0.75em;
  position: relative;
  vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
  background-color: @ini_background;
  border-color: @ini_border;
  border-radius: @ini_radius;
  color: @ini_text;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
keygen:active,
keygen:focus {
  background-color: #fff;
  border-color: @ini_murat_yellow;
  box-shadow: 0 0 0 0.125em rgba(253, 208, 0, 0.25); /* murat yellow */
}

input[type="radio"],
input[type="checkbox"],
input[type="image"] {
  font-size: 1em;
  color: @ini_text;
  padding: 0;
  border-color: @ini_border;
  vertical-align: baseline;
}

/* all types of buttons */
input[type="submit"],
input[type="button"],
input[type="reset"],
input.button,
a.button,
button,
.qq-upload-button {
  font-size: 1em;
  font-weight: bold;
  display: block;
  color: @ini_text;
  background-color: @ini_text_alt;
  border-color: transparent;
  border-radius: @ini_radius;
  outline: none;
  cursor: pointer;
  justify-content: center;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  height: 2.5em;
  line-height: 1.5;
  padding: 0.5em 0.75em;
  position: relative;
  vertical-align: top;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:hover,
input.button:hover,
input.button:active,
input.button:focus,
a.button:hover,
a.button:active,
a.button:focus,
button:hover,
button:active,
button:focus,
.qq-upload-button:hover {
  border-color: @ini_border;
  color: rgba(0, 0, 0, 0.7);
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[disabled],
button[disabled],
select[disabled],
textarea[disabled],
option[disabled],
input[readonly],
button[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}

select:hover,
select:active {
  background-color: #fff;
  border-color: @ini_murat_yellow;
  box-shadow: 0 0 0 0.125em rgba(253, 208, 0, 0.25); /* murat yellow */
}

.mobileTools div.no {
  height: 2.5em;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  display: block;
}

.mobileTools div.no::after {
  border-color: @ini_text;
  right: 1.125em;
  z-index: 4;
  border: 3px solid transparent;
  border-bottom: 3px solid @ini_text;
  border-left: 3px solid @ini_text;
  border-right: 0;
  border-top: 0;
  border-radius: 2px;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}
