/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */

/*____________ section indenting ____________

.dokuwiki .page  h1 {margin-left: 0;}
.dokuwiki .page  h2 {margin-left: .666em;}
.dokuwiki .page  h3 {margin-left: 1.776em;}
.dokuwiki .page  h4 {margin-left: 3em;}
.dokuwiki .page  h5 {margin-left: 4.5712em;}
.dokuwiki .page  div.level1 {margin-left: 0;}
.dokuwiki .page  div.level2 {margin-left: 1em;}
.dokuwiki .page  div.level3 {margin-left: 2em;}
.dokuwiki .page  div.level4 {margin-left: 3em;}
.dokuwiki .page  div.level5 {margin-left: 4em;}

*/
/* hx margin-left = (1 / font-size) * .levelx-margin */

/*____________ links to wiki pages (addition to _links) ____________*/

/* existing wikipage */
.dokuwiki a.wikilink1 {
  color: @ini_text;
  text-decoration: underline;
}

/* not existing wikipage */
.dokuwiki a.wikilink2 {
  color: @ini_link;
  text-decoration: none;
}

/*____________ images ____________*/

/* embedded images (styles are already partly set in lib/styles/all.css) */
.dokuwiki img.media {
  margin: 0.2em 0;
}

.dokuwiki img.medialeft {
  margin: 0.2em 1em 0.2em 0;
}

.dokuwiki img.mediaright {
  margin: 0.2em 0 0.2em 1em;
}

.dokuwiki img.mediacenter {
  margin: 0.2em 0;
}

/*____________ lists ____________*/

.dokuwiki .page {
  ul li {
    color: @ini_text_alt;
  }

  ol li {
    color: @ini_text_neu;
  }

  li .li {
    color: @ini_text;
  }
}

/*____________ tables ____________*/

/* div around each table */
.dokuwiki div.table {
  overflow-x: auto;
  margin-bottom: 1.4em;
  min-width: 50%;
}

.dokuwiki div.table table {
  margin-bottom: 0;
}

.dokuwiki table.inline {
  min-width: 50%;
}

.dokuwiki table.inline tr:hover td {
  background-color: @ini_background_alt;
}

.dokuwiki table.inline tr:hover th {
  background-color: @ini_border;
}

/*____________ code ____________*/

/* fix if background-color hides underlining */
.dokuwiki em.u code {
  text-decoration: underline;
}

/* filenames for downloadable file and code blocks */
.dokuwiki dl.code,
.dokuwiki dl.file {
  dt {
    background-color: @ini_background_site;
    background: linear-gradient(
      to bottom,
      @ini_background_alt 0%,
      @ini_background_site 100%
    );
    color: inherit;
    border: 1px solid @ini_border;
    border-bottom-color: @ini_background_site;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    padding: 0.3em 0.6em 0.1em;
    margin-bottom: -1px;

    a {
      background-color: transparent;
      font-size: 0.875em;
      font-weight: normal;
      display: block;
      min-height: 16px;
    }
  }

  dd {
    margin: 0;
  }

  pre {
    box-shadow: inset -4px -4px 0.5em -0.3em @ini_border;
  }
}

/*____________ JS popup ____________*/

.JSpopup {
  background-color: @ini_background;
  color: @ini_text;
  border: 1px solid @ini_border;
  box-shadow: 0.1em 0.1em 0.1em @ini_border;
  border-radius: 2px;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
}

.dokuwiki form.search div.ajax_qsearch {
  top: -0.35em;
  font-size: 1em;
  text-overflow: ellipsis;
}

.JSpopup ul,
.JSpopup ol {
  padding-left: 0;
}

/* changes to underscored CSS files
********************************************************************/

#acl__tree li {
  margin: 0;
}

/*____________ changes to _imgdetail ____________*/

#dokuwiki__detail {
  padding: 0;

  img {
    float: none;
    margin-bottom: 1.4em;
  }

  div.img_detail {
    float: none;
  }

  div.img_detail dl {
    overflow: hidden;
  }

  div.img_detail dl dt {
    float: left;
    width: 9em;
    text-align: right;
    clear: left;
  }

  div.img_detail dl dd {
    margin-left: 9.5em;
  }
}

/*____________ remove br in profile page ____________*/

.mode_profile br {
  display: none;
}
