/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */

.dokuwiki.export {
  background-color: @ini_background;
}

/* header
********************************************************************/

#topnav {
  #dokuwiki__header {
  }
  .tools {
    font-size: 0.875em;
  }

  p {
    margin-bottom: 0;
    font-size: 0.875em;
  }

  a {
    color: @ini_link;
    background-color: inherit;
  }
}

/* tools
********************************************************************/

/* highlight selected tool */
.mode_admin .action.admin a,
.mode_login .action.login a,
.mode_register .action.register a,
.mode_profile .action.profile a,
.mode_recent .action.recent a,
.mode_index .action.index a,
.mode_media .action.media a,
.mode_revisions .action.revs a,
.mode_backlink .action.backlink a,
.mode_subscribe .action.subscribe a {
  font-weight: bold;
}

#dokuwiki__header .tools {
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    font-size: 0.875em;
    margin-left: 1em;
    list-style: none;
    display: inline;
  }

  form.search div.ajax_qsearch li {
    font-size: 1em;
    margin-left: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*____________ site tools ____________*/

#dokuwiki__sitetools {
  form.search {
    font-size: 0.875em;
  }
}

form.search {
  input {
    width: 100%;
    padding: 0.35em 22px 0.35em 0.1em;
  }

  button {
    background: transparent url(images/search.png) no-repeat 0 0;
    border-width: 0;
    width: 19px;
    height: 14px;
    text-indent: -99999px;
    margin-left: -20px;
    box-shadow: none;
    padding: 0;
  }
}

/* sidebar
********************************************************************/

.dokuwiki .sidebar {
  font-size: 0.875em;
  overflow: hidden;
  word-wrap: break-word

  .search {
    form.search input {
      max-width: 100%;
    }
    margin-bottom: 1em;
  }

  h1 {
    font-size: 1.714em;
    margin-bottom: 0.292em;
  }

  h2 {
    margin-bottom: 0.333em;
  }

  h3 {
    margin-bottom: 0.444em;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  h5 {
    margin-bottom: 0.5714em;
  }

  p,
  ul,
  ol,
  dl,
  pre,
  table,
  fieldset,
  hr,
  blockquote,
  address {
    margin-bottom: 0.7em;
  }

  ul,
  ol {
    padding-left: 0;
    list-style-type: none;
  }

  li,
  dd {
    margin: 0;
  }

  li ul,
  li ol {
    margin-bottom: 0;
    padding: 0;
  }

  div ul {
    border-left: 1px solid @ini_text;
  }

  div ul ul {
    border-left: 0;
  }

  .sitemenu {
    margin-top: 2.5em;
  }

  a,
  a:visited,
  a.wikilink1,
  a.wikilink2 {
    color: @ini_text;
    text-decoration: none;
    border-left: 4px solid transparent;
    padding-left: 0.25em;
  }
  a:hover {
    color: @ini_link;
  }

  a:hover {
    border-left: 4px solid @ini_link;
  }

  span.curid a {
    color: @ini_text;
    font-weight: 700;
    border-left: 4px solid @ini_link;
  }
}

/* content
********************************************************************/

.dokuwiki #page-content {
  font-size: 1em;

  .plugin_note {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 1.5em auto;
    border-radius: 2px;
    background-color: #fff;
    text-align: left;
    border: 0;
    padding: 1em 1em 1em 80px;
  }

  .plugin_note.noteclassic {
  }

  .plugin_note.noteimportant {
  }

  .plugin_note.notetip {
  }
}

/* footer
********************************************************************/

.dokuwiki .wrapper {
  margin-bottom: 1.4em;
}

#dokuwiki__footer {
  margin-bottom: 1em;
  text-align: center;

  > .pad {
    font-size: 0.875em;
  }

  div.license {
    margin-bottom: 0.5em;
    font-size: 100%;
  }

  div.buttons a {
    img {
      opacity: 0.5;
    }

    &:hover img,
    &:active img,
    &:focus img {
      opacity: 1;
    }
  }
}

.docInfo {
  color: @ini_text_neu;
  font-size: 0.875em;
  text-align: right;
}
