/**
 * This file provides styles for mobile devices
 * and smaller screens (up to 480px and 768px width).
 *
 * @author Anika Henke <anika@selfthinker.org>
 */

/* for detecting media queries in JavaScript (see script.js): */
#screen__mode {
  position: relative;
  z-index: 0;
}

@media only screen and (min-width: @ini_desktop_xxl) {
  #dokuwiki__site {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    .wrapper .sidebar {
      flex: 0 0 20em;
    }
  }
}

@media only screen and (max-width: @ini_desktop_width) {
  #dokuwiki__site .wrapper {
    main#dokuwiki__content .page {
      display: block;
      padding: 2em 0;

      #page-toc {
        margin-bottom: 2em;
        margin-left: 5px;
        margin-right: 5px;
        #dw__toc {
          h3.toggle,
          div {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

/* for screen widths in the tablet range
********************************************************************/
@media only screen and (max-width: @ini_tablet_width) {
  #screen__mode {
    z-index: 1; /* for detecting media queries in JavaScript (see script.js) */
  }

  #topnav,
  #dokuwiki__footer {
    padding: 2em;
  }
  #dokuwiki__site .wrapper {
    padding: 0 2em;
    main#dokuwiki__content,
    #page-toc,
    #page-content {
      margin: 0;
    }
    #page-toc {
      order: 1;
    }
  }

  #topnav {
    display: block;
    #dokuwiki__header {
    }

    .navbar-burger {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 1px;
      margin-right: 1em;
      border: 1px solid @ini_text !important;

      div {
        display: block;
        height: 2em;
        position: relative;
        width: 2em;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      span {
        background-color: @ini_text;
        display: block;
        height: 2px;
        left: ~"calc(50% - 8px)";
        position: absolute;
        transform-origin: center;
        transition-duration: 86ms;
        transition-property: background-color, opacity, transform;
        transition-timing-function: ease-out;
        width: 16px;
      }

      span:nth-child(1) {
        top: ~"calc(50% - 6px)";
      }

      span:nth-child(2) {
        top: ~"calc(50% - 1px)";
      }

      span:nth-child(3) {
        top: ~"calc(50% + 4px)";
      }

      &.is-active {
        span:nth-child(1) {
          transform: translateY(5px) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
        }
      }
    }
  }

  #dokuwiki__site .wrapper {
    display: block;

    .sidebar-overlay.is-shown {
      display: block;
      opacity: 0.7;
      pointer-events: auto;
    }

    .sidebar {
      width: 0;
      transform: translateX(-@ini_sidebar_width);
      top: 0;
      left: 0;
      width: @ini_sidebar_width;
      height: 100%;

      position: absolute;
      z-index: 10;
      transition: transform 0.5s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      color: @ini_background;
      background-color: @ini_background_alt;
      padding: 1em;
      font-size: 0.95em;

      a:link,
      a:visited,
      a.wikilink1,
      a.wikilink2 {
        color: @ini_background;
      }
    }

    .sidebar.is-shown {
      transform: translate(0, 0);
      z-index: 15;
    }
  }
  #dokuwiki__sitetools {
    .mobileTools {
      display: block;
    }
    .desktopTools {
      display: none;
    }
  }
} /* /@media */

/* for screen widths in the smartphone range
********************************************************************/
@media only screen and (max-width: @ini_phone_width) {
  #screen__mode {
    z-index: 2; /* for detecting media queries in JavaScript (see script.js) */
  }

  body {
    font-size: 100%;
  }

  /*____________ content ____________*/

  #dokuwiki__aside > .pad,
  .dokuwiki div.page {
    padding: 0.5em;
  }

  /* _edit */
  .dokuwiki div.section_highlight {
    margin: 0;
    padding: 0;
    border-width: 0;
  }
  .dokuwiki div.preview {
    margin: 0 -0.5em;
    padding: 0.5em;
  }
} /* /@media */

/* for screen heights smaller than the pagetools permit
********************************************************************/
@media only screen and (max-height: 400px) {
  // 400px is only roughly the required value, this may be wrong under non-standard circumstances

  #dokuwiki__pagetools div.tools {
    position: static;
  }
} /* /@media */
