/**
 * This file provides the styles for the page tools
 * (fly out navigation beside the page to edit, etc).
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */

.dokuwiki div.page {
  height: 190px;
  min-height: 190px; /* 30 (= height of icons) x 6 (= maximum number of possible tools) + 2x5 */
  height: auto;
}

#dokuwiki__pagetools {
  @ico-width: 28px;
  @ico-margin: 8px;
  @item-width: (@ico-width + @ico-margin + @ico-margin);
  @item-height: (@ico-width + @ico-margin);

  div.tools {
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0.5em 0;
        margin-left: 0.5em;
        list-style: none;
        font-size: 0.875em;

        a {
          display: block;

          span {
          }

          svg {
            display: none;
          }
        }

        // on interaction show the full item
        a:active,
        a:focus,
        a:hover {
          span {
            display: inline-block;
          }

          svg {
            fill: @ini_link;
          }
        }
      }
    }
  }
}
