/**
 * This file provides styles for the general layout structure.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */
body {
  margin: 0;
}

#dokuwiki__site {
  margin: 0;
}

#dokuwiki__site > .site {
  padding: 0;
}

#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  #dokuwiki__header {
    padding: 1em 2em;
    .navbar-logo {
      align-items: center;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      line-height: 1.5;
      text-decoration: none;

      .navbar-burger {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: 0 0;
        border: none;
        color: @ini_text;
        font-family: inherit;
        font-size: 1em;
      }

      .navbar-item {
        align-items: center;
        display: flex;
      }

      img {
        height: 64px;
        width: auto;
      }
    }

    .tools {
    }
  }
}

#dokuwiki__site .wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  width: 100%;

  .sidebar-overlay {
    background-color: #000;
    display: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 2;
  }

  .sidebar {
    flex: 0 0 @ini_sidebar_width;
    padding-right: 2em;

    form.search {
      display: block;
      position: relative;
      margin-bottom: 1em;
    }
  }

  main#dokuwiki__content {
    flex: 1 1 auto;

    #dokuwiki__sitetools {
      align-self: right;
    }

    #dokuwiki_notifications {
      margin-bottom: 2em;
      background-color: @ini_text_alt;
      padding: 0.75em;
      &:empty {
        display: none;
      }
      .notify {
        width: auto;
        background-color: transparent;
        margin: 0 0 0.5em;
        border-radius: 2px;
        border: 0;
        border-bottom: 1px solid @ini_border;
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .page {
    padding: 2em 0;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #page-toc {
    flex: 0 1 300px;
    margin: 0.5em;
    order: 2;
  }
  #page-toc:empty {
    display: none;
  }
  #page-content {
    flex: 1 1 auto;
    max-width: 860px;
    padding-right: 2em;
    margin-bottom: 0.5em;
  }
}

#dokuwiki__sitetools {
  .mobileTools {
    display: none;
  }
  .desktopTools {
    display: block;
  }
}

#dokuwiki__sitetools .desktopTools {
  ul {
    font-size: 0.875em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid @ini_link;
  }
  a {
    display: block;
    padding: 0.25rem;
  }
}

#dokuwiki__site .mode_login .wrapper .page {
  flex-direction: row;
}

#dokuwiki__pagetools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    a {
      font-size: 0.875em;
      display: block;
      margin: 0 0.5em 0 0;
      &:hover {
        text-decoration: none;
      }
    }
    .pagetools {
      max-width: 860px;
    }
  }
}

#dokuwiki__footer {
}
