#dokuwiki__usertools {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: baseline;
    /*flex: 0 1 1;*/

    li {
      display: inline-block;
      margin: 0 0.5em 0 0;
      padding: 0;
      &.action a {
        display: block;
        padding: 0.5em;
        svg {
          display: none;
          height: 1.4em;
          width: 1.4em;
          vertical-align: middle;
          fill: @ini_border;
          margin-right: 0.2em;
        }
      }

      &.action a:hover,
      &.action a:active {
        svg {
          fill: @ini_link;
        }
      }

      &.search {
        form.search {
        }
      }
    }
  }
}
